{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <script src="../static/js/moment.min.js"></script>
    <script>
    // TODO move js to a separate file
    // https://stackoverflow.com/questions/32598735/how-to-convert-time-values-inside-jinja-code-to-the-browsers-local-timezone-whe?rq=1
    // When the page loads - the Jinja template is already rendered now
    window.onload = function() {
      // Get all the elements with the given class, and map through them
      var el = document.querySelectorAll("td.timezone_convert");
      var i;
      for(i=0; i<el.length; i++){
          conv(el[i]);
      }

    }
    function conv(el){
        var unixTime = moment.unix(el.innerText);  // This is the time in UTC
        unixTime.local();  // Switch to using the browser's local timezone
        el.innerText = unixTime.format('YYYY-MM-DD HH:mm:ss');  // Write the local time back to the element
      };
    </script>
    <!-- Button trigger modal -->
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="nav nav-pills">
                    <li class="active" data-toggle="modal" data-target="#newSiteModal"><a href="#"><span
                            class="glyphicon glyphicon-link"></span>添加网站</a></li>
                    <li data-toggle="modal" data-target="#newGroupModal"><a href="#"><span
                            class="glyphicon glyphicon-book"></span>添加分组</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2>编辑分组&nbsp;<small>编辑或删除分组</small></h2>
    {{ grouplists.items }}
    <table class="table table-hover table-striped">
        <thead>
        <th class="active">No</th>
        <th class="active">Name</th>
        <th class='active'>Ctrl</th>
        </thead>
        <tbody>
        {% for group in grouplists %}
            <tr class="bz-row">
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td><a href="{{ url_for('web.change_group', id=group.id) }}" class="btn btn-primary" role="button">修改</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>编辑站点&nbsp;<small>编辑或删除站点</small>
    </h2>
    <table class="table table-hover table-striped">
        <thead>
        <th class="active">No</th>
        <th class="active">Group</th>
        <th class="active">Title</th>
        <th class="active">Description</th>
        <th class="active">Create Date</th>
        <th class='active'>Ctrl</th>
        </thead>
        <tbody>
        {% for site in sitelists %}
            <!-- TODO add filter-->
            <!-- tr -->
            <tr class="bz-row">
                <td>{{ site.id }}</td>
                <td>{{ site.group_id }}</td>
                <td><a href={{ site.url }} target="_blank">{{ site.title }}</a>
                    {# Show Badge by status #}
                    {% if site.status %}<span class="label label-primary">展示</span>
                    {% else %}<span class="label label-default">隐藏</span>{% endif %}

                </td>
                <td>{{ site.description }}</td>
                <td class="timezone_convert">{{ site.create_time }}</td>
                <td>
                    <a href="{{ url_for('web.change_site', id=site.id) }}" class="btn btn-primary" role="button">修改</a>
                    <a href="{{ url_for('web.delete_site', id=site.id) }}" class="btn btn-danger" role="button">删除</a>
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="newSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" align="center">添加网站</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(siteform, form_type="horizontal") }} </div>
                    </div>
                </div> <!-- modal body -->

            </div>
        </div>
    </div>
        <div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" align="center">添加分组</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(groupform, form_type="horizontal") }} </div>
                    </div>
                </div> <!-- modal body -->

            </div>
        </div>
    </div>

{% endblock %}
